{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <style>
        #profilepic {
            width: 150px;
            height: 150px;
            margin-top: 5%;
            margin-left: 16%;
        }
        .dropdown-menu {
            width: 200%;
        }
    </style>
    {% block extranewcss %}
    {% endblock %}

{% endblock %}


{% block navHeader %}
    Student
{% endblock %}

{% block notification %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
            <i class="fa fa-bell fa-fw"></i><span class="label label-primary">{{ user.notifications.count }}</span> </i>
        </a>
        <ul class="dropdown-menu dropdown-alerts" style="overflow-y: scroll;height:500px;">
            {% if user.get_notifications %}
                {% for notification in user.get_notifications %}
                    <a {% if notification.redirect_url %}href="{{ redirect_url }}"{% else %}href="#"{% endif %}>
                        <li>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="badge"><small>{{ notification.category }}</small></span>
                                </div>
                                <div class="col-md-6">
                                    {{ notification.message }}
                                </div>
                                <div class="col-md-3">
                                    <small><em>{{ notification.created_date.date }}</em></small>
                                </div>
                            </div>
                        </li>
                    </a>
                    <li class="divider"></li>
                {% endfor %}
                <li>
                    <a class="text-center" href="{% url 'studentapp:notifications' %}">
                        <strong>See All Notifications</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% else %}
                <li><em>No new notifications</em></li>
            {% endif %}

        </ul>
    </li>
{% endblock %}


{% block navUsername %}
    {{ user.username }}
{% endblock %}


{% block sidebarList %}
   <ul class="nav" id="side-menu">
        <li>
            <div class="text-center">
                <img id="profilepic" src="{% static user.profilepic.url %}" class="img-responsive img-circle" width="100%" alt="{{ user.get_full_name }}">
            </div>
            <a href="{% url 'studentapp:profile' %}" class="text-center">
                View Profile
            </a>
        </li>
        <li>
            <a href="{% url 'studentapp:index'  %}"><i class="fa fa-dashboard fa-fw"></i> Overview</a>
        </li>
        <li>
            <a href="{% url 'studentapp:courselist' %}"><i class="fa fa-table fa-fw"></i> Courses</a>
        </li>
        <li>
            <a href="{% url 'studentapp:assignmentlist' %}"><i class="fa fa-edit fa-fw"></i> Assignments</a>
        </li>
        <li>
            <a href="{% url 'studentapp:handoutlist' %}"><i class="fa fa-wrench fa-fw"></i> Handouts</a>
        </li>
        <li>
            <a href="{% url 'studentapp:testlist' %}"><i class="fa fa-bell fa-fw"></i> Tests</a>
        </li>
        <li>
            <a href="{% url 'studentapp:noticelist' %}"><i class="fa fa-bell fa-fw"></i> Notices</a>
        </li>
    </ul>
{% endblock %}


{% block extrajs %}
{% endblock %}