{% extends 'studentapp/studentbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile-{{ user.name }}
{% endblock %}

{% block extranewcss %}
<style>
    .jumbotron{
        margin: auto;
    }

</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-capitalize">Edit Profile</h1>
        </div>
    </div>

    <div class="row" style="margin:auto;">
           <form enctype="multipart/form-data" method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p {% if forloop.last %}class="mb-0" {% endif %}>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row" style="margin:auto;">

                    <div class="col-md-4">
                        {{ form.profilepic.label_tag }}
                        <img src="{% static user.profilepic.url %}" class="profilepicture" width="100%">
                        {% if form.is_bound %}
                            {% if form.profilepic.errors %}
                                {% render_field form.profilepic %}
                                {% for error in form.profilepic.errors %}
                                <div class="text-danger">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.profilepic %}
                            {% endif %}
                        {% else %}
                            {% render_field form.profilepic %}
                        {% endif %}
                        <span class="text-muted"><small>{{ form.profilepic.help_text }}</small></span>
                    </div>

                    <div class="col-md-8">
                        <div class="card" >
                          <ul class="list-group list-group-flush card-body">
                            {% for field in form %}
                                {% if not field.name == 'profilepic' %}
                                    <li class="list-group-item form-group">
                                        {{ field.label_tag }}

                                        {% if form.is_bound %}
                                            {% if field.errors %}
                                                {% render_field field class='form-control panel-danger' %}
                                                {% for error in field.errors %}
                                                <div class="text-danger">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                            {% else %}
                                                {% render_field field class='form-control panel-success' %}
                                            {% endif %}
                                        {% else %}
                                            {% render_field field class='form-control' %}
                                        {% endif %}

                                        {% if field.help_text %}
                                            {% if not field.name == 'username' %}
                                            <span class="text-muted"><small>{{ field.help_text|safe }}</small></span>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: auto;">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                        <a href="{% url 'studentapp:profile' %}" class="btn btn-block btn-danger">Cancel</a>
                    </div>
                </div>
            </form>

        </div>
{% endblock %}

{% block extrajs %}
    <script>
        var usernameField = document.querySelector("#id_username");
        var rollnoField = document.querySelector("#id_rollno");
        usernameField.setAttribute('readonly','readonly');
        rollnoField.setAttribute('readonly','readonly');
    </script>
    <script src="{% static 'js/imagePreviewer.js' %}"></script>
{% endblock %}