{% extends 'studentapp/studentbase.html' %}

{% block extranewcss %}
<style>
    a#course-handout {
        text-decoration: none;
        color: #222222;
    }
    form {
        margin-top: 2%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h3>Handouts</h3>
        </div>

    <div id="listofhandouts" class="container col-md-12">
        <div class="col-md-12">
            <h3><small>As of now, you have been provided a total of <strong class="text-primary">{{ handout_count }} handouts</strong></small></h3>
        </div>

        {% for course in courses %}
             <a id="course-handout" href="{% url 'courseapp:handout' course.code %}">
                 <div class="col-md-10 col-md-push-1 panel panel-primary">
                    <div class="panel panel-heading">
                        <span>{{ course.name }}</span>
                        <span class="badge pull-right">{{ course.code }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        {% if course.get_handouts %}
                            <table width="100%" class="table table-striped table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Published Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for handout in course.get_handouts %}
                                        <tr class="odd gradeX">
                                            <td>{{ handout.name }}</td>
                                            <td>{{ handout.description }}</td>
                                            <td>{{ handout.published_date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4><em>No handouts received yet from this course</em></h4>
                        {% endif %}
                        </div>
                    </div>
                 </div>
             </a>
        {% endfor %}
    </div>
    </div>

{% endblock %}