{% extends 'studentapp/studentbase.html' %}
{% load static %}

{% block title %}
    Profile-{{ user.name }}
{% endblock %}

{% block extranewcss %}
<style>
    .jumbotron{
        margin: auto;
    }
    a.btn-block {
        margin-top: 15%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-capitalize">Student Profile</h1>
        </div>
    </div>
    <div class="row" style="margin:auto;">
        <div class="col-md-4">
             <img class="card-img-top" src="{% static user.profilepic.url %}" alt="{{ user.username }} Profile Picture" width="100%">
            <a href="{% url 'studentapp:editinfo' %}" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-pencil"></span> Edit Details
            </a>
            <a href="{% url 'studentapp:changepassword' %}" class="btn btn-block btn-danger">
                <span class="fa fa-edit"></span> Change Password
            </a>
        </div>

        <div class="col-md-8">
            <div class="card" >
              <ul class="list-group list-group-flush card-body">
                <li class="list-group-item">
                    <p class="card-title text-info">Username</p>
                    <h4 class="card-text "><strong>{{ user.username }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Full Name</p>
                    <h4 class="card-text"><strong>{{ user.get_full_name }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Email ID</p>
                    <h4 class="card-text">{{ user.email }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Roll Number</p>
                    <h4 class="card-text">{{ user.rollno }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Enrolled Stream</p>
                    <h4 class="card-text">{{ user.stream.name }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Year of Enrollment</p>
                    <h4 class="card-text">{{ user.batch.batch_id }}</h4>
                </li>
              </ul>
            </div>
        </div>
     </div>
{% endblock content %}

{% block extrajs %}
{% endblock %}