{% extends 'teacherapp/teacherbase.html' %}
{% load static %}

{% block content %}
    <div class="col-md-12 page-header">
        <h3>Student Profile Analysis</h3>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="col-md-7 form-group row">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Enter Roll Number : ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if not error %}
        <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img src="{% static student.profilepic.url %}" align="center" width="100%" alt="Student Picture">
                    </div>
                    <div class="col-md-9">
                         <table class="table">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ student.get_full_name }}</td>
                                </tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>{{ student.email }}</td>
                                </tr>
                                <tr>
                                    <td>Stream</td>
                                    <td>{{ student.stream }}</td>
                                </tr>
                                <tr>
                                    <td>Batch</td>
                                    <td>{{ student.batch }}</td>
                                </tr>
                                <tr>
                                    <td>Roll No.</td>
                                    <td>{{ student.rollno }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Tests Summary</div>
                <div class="panel-body">
                    {% for course in courses %}
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center"> {{ course.data.name }} </div>
                                <div class="panel-body">
                                    {% if course.tests %}
                                        <div id="passfail-{{ course.data.code }}"></div>
                                    {% else %}
                                        <p class="alert alert-danger">
                                            No Tests has been taken yet in this subject !
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Performance on Tests
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        {% for course in courses %}
                            {% if course.tests %}
                            <li {% if forloop.first %}class="active"{% endif %}>
                                <a href="#test{{ course.data.code }}" data-identifier="testline{{ course.data.code }}" data-toggle="tab">
                                    {{ course.data.name }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for course in courses %}
                            {% if course.tests %}
                                <div id="test{{ course.data.code }}" class="tab-pane fade in {% if forloop.first %}active{% endif %}">
                                    <div id="testchart-{{ course.data.code }}"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Assignments Summary</div>
                <div class="panel-body">
                    {% for course in courses %}
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center"> {{ course.data.name }} </div>
                                <div class="panel-body">
                                    <div id="submission-{{ course.data.code }}"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"> Project List </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="teacher-table">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Name Of Project</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>1</td>
                                <td>3D Modelling</td>
                                <td>Designed a 3D Model of Dharahara and implemented Computer Graphics Algorithms</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>2</td>
                                <td>Self-driving car</td>
                                <td>Built a prototype self-driving car using machine learning and image processing with Rpi and Arduino</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        {% else%}
            <div class="row">
            <p class="well-lg alert alert-danger"><strong>{{ error.title }}</strong> {{ error.message }}</p>
            <p></p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
    <script>

        {% for course in courses %}
            {% if course.tests %}
                var testline{{ course.data.code }} = Morris.Line({
                element: 'testchart-{{ course.data.code }}',
                data: {{ course.tests|safe }},
                xkey: 'y',
                ykeys: ['a'],
                labels: ['{{ course.data.name }}']
            });
            {% endif %}
        {% endfor %}

        {% for course in courses %}
            {% if course.tests %}
            var testdonut{{ course.data.code }} = Morris.Donut({
                element: 'passfail-{{ course.data.code }}',
                data: [{
                    label: 'Passed',
                    value: {{ course.passed_count }}
                },{
                    label: 'Failed',
                    value: {{ course.failed_count }}
                }],
                colors: ['green','brown'],
                resize: true
            });
            {% endif %}
        {% endfor %}

        {% for course in courses %}
            var assdonut{{ course.data.code }} = Morris.Donut({
                element: 'submission-{{ course.data.code }}',
                data: [{
                    label: 'Submitted',
                    value: {{ course.submitted_count }}
                },{
                    label: 'Not Submitted',
                    value: {{ course.not_submitted_count }}
                }],
                colors: ['green','brown'],
                resize: true
            });
        {% endfor %}

        $('ul.nav a').on('shown.bs.tab',function (e) {
            var toggledata = $(this).attr("data-identifier");
            console.log(toggledata);
            eval(toggledata+'.redraw()');
        });


        $(function() {

            {% for course in courses %}
                testdonut{{ course.data.code }}.redraw();
            {% endfor %}

            {% for course in courses %}
                testline{{ course.data.code }}.redraw();
            {% endfor %}

            {% for course in courses %}
                assdonut{{ course.data.code }}.redraw();
            {% endfor %}

        });
    </script>
{% endblock %}