{% extends 'teacherapp/teacherbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile-{{ user.name }}
{% endblock %}

{% block extranewcss %}
<style>
    .jumbotron{
        margin: auto;
        padding: 4%;
    }

</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-capitalize">Change Password</h1>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row" style="margin:auto;">
            {% include 'formbase.html' with returnURL='teacherapp:profile' %}
        </div>
    </div>
{% endblock %}