{% extends 'teacherapp/teacherbase.html' %}
{% load static %}

{% block extranewcss %}
    <style>
        .box {
            margin-bottom: 0%;
        }
        a.box{
            text-decoration: none;
            color: #222222;
        }
        a.box:hover{
            text-decoration:none;
            color: #2a6496;
        }
        #taughtlist {
            padding-left: 1%;
        }
        .course-content {
            padding-left: 5%;
            padding-right: 5%;
        }
        .course-image {

        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3> You are currently teaching <span class="text-primary"> {{ user.courses_teaching.count }} </span>courses</h3>
        </div>
    </div>
    <div class="container col-md-12">
        {%  for course in courses %}
            <div class="col-md-6">
                <a class="box" href="{% url 'courseapp:index' course.code %}">
                    <div class="panel panel-primary">
                        <div class="panel panel-heading" style="margin:auto;">
                            <h4>{{ course.name }}</h4>
                        </div>
                        <div class="panel-body" style="padding: 0;">
                            <div class="progress progress-striped active" style="margin: 0;padding: 0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ course.get_completion_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ course.get_completion_percent }}%">
                                    <span>{{ course.get_completion_percent }}% Complete</span>
                                </div>
                            </div>
                            <div class="well course-image block-center" style="margin: 0;padding: 0">
                                <img src="{% static course.profilepic.url %}" width='100%' >
                            </div>
                            <div class="divider"></div>
                            <div class="row course-content">
                                <h4><strong>Code: {{ course.code }}</strong></h4>
                                <p class="card-text">
                                    <strong>Chapters: </strong>
                                    {{ course.chapters.count }}
                                    <span class="pull-right">
                                        <strong>Chapters Completed: </strong>
                                        {{ course.get_completed_chapters_count }}/{{ course.chapters.count }}
                                    </span>
                                </p>
                                <p class="card-text">
                                    <strong>Students: </strong>
                                    {{ course.get_students_count }}
                                    <span class="pull-right">
                                        <strong>Upcoming Class Date: </strong>
                                        {{ course.get_next_classdate }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </a>
            </div>
        {%  endfor %}
    </div>
    </div>
{% endblock %}