{% extends 'teacherapp/teacherbase.html' %}
{% load static %}

{% block title %}
    Profile-{{ user.username }}
{% endblock %}

{% block extranewcss %}
<style>
    .jumbotron{
        margin: auto;
    }
    a.btn-block {
        margin-top: 15%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>Teacher Profile</h1>
        </div>
        <div class="col-md-4">
            <img class="card-img-top" src="{% static user.profilepic.url %}" alt="{{ user.username }} Profile Picture" width="100%">
            <a href="{% url 'teacherapp:editinfo' %}" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-pencil"></span> Edit Details
            </a>
            <a href="{% url 'teacherapp:changepassword' %}" class="btn btn-block btn-danger">
                <span class="fa fa-edit"></span> Change Password
            </a>
        </div>

        <div class="col-md-8">
            <div class="card" >
              <ul class="list-group list-group-flush card-body">
                <li class="list-group-item">
                    <p class="card-title text-info">Username</p>
                    <h4 class="card-text "><strong>{{ user.username }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Full Name</p>
                    <h4 class="card-text"><strong>{{ user.get_full_name }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Email ID</p>
                    <h4 class="card-text">{{ user.email }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Courses Teaching</p>
                    {% for course in user.courses_teaching.all %}
                        <ul><li>{{ course.name }}</li></ul>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Teaching Portfolio</p>
                    {% for course in user.teachable_courses.all %}
                        <ul><li>{{ course.name }}</li></ul>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Date Joined</p>
                    <h4 class="card-text">{{ user.date_joined.date }}</h4>
                </li>
              </ul>
            </div>
        </div>
     </div>
    <!-- #jumbotron-end -->
{% endblock content %}

{% block extrajs %}
{% endblock %}