{% extends 'loginbase.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
    Teacher-Signup
{% endblock %}

{% block heading %}
    Sign Up as Teacher
{% endblock %}

{% block formbody %}
    <form enctype="multipart/form-data" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p {% if forloop.last %}class="mb-0" {% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row" style="margin:auto;">

            <div class="col-md-4">
                {{ form.profilepic.label_tag }}
                <img src="" class="profilepicture" width="100%">
                {% if form.is_bound %}
                    {% if form.profilepic.errors %}
                        {% render_field form.profilepic %}
                        {% for error in form.profilepic.errors %}
                        <div class="text-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.profilepic %}
                    {% endif %}
                {% else %}
                    {% render_field form.profilepic %}
                {% endif %}
                <span class="text-muted"><small>{{ form.profilepic.help_text }}</small></span>
            </div>

            <div class="col-md-8">
                <div class="card" >
                  <ul class="list-group list-group-flush card-body">
                    {% for field in form %}
                        {% if not field.name == 'profilepic' %}
                            <li class="list-group-item form-group">
                                {{ field.label_tag }}
                                {% if field.name == 'teachable_courses' %}
                                    {% render_field field %}
                                {% else %}
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class='form-control panel-danger' %}
                                        {% for error in field.errors %}
                                        <div class="text-danger">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field field class='form-control panel-success' %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class='form-control' %}
                                {% endif %}
                                {% endif %}
                                {% if field.help_text %}
                                    <span class="text-muted"><small>{{ field.help_text|safe }}</small></span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin: auto;">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                <a href="{% url 'datarepo:index' %}" class="btn btn-danger btn-block">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/imagePreviewer.js' %}"></script>
{% endblock %}